* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  /* ff 3.6+ */
  background:-moz-linear-gradient(180deg, rgba(56, 38, 176, 1) 0%, rgba(95, 58, 187, 1) 50%, rgba(134, 78, 197, 1) 100%); 

  /* safari 5.1+,chrome 10+ */
  background:-webkit-linear-gradient(180deg, rgba(56, 38, 176, 1) 0%, rgba(95, 58, 187, 1) 50%, rgba(134, 78, 197, 1) 100%);

  /* opera 11.10+ */
  background:-o-linear-gradient(180deg, rgba(56, 38, 176, 1) 0%, rgba(95, 58, 187, 1) 50%, rgba(134, 78, 197, 1) 100%);

  /* ie 6-9 */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#864EC5', endColorstr='#3826B0', GradientType=1 );

  /* ie 10+ */
  background:-ms-linear-gradient(180deg, rgba(56, 38, 176, 1) 0%, rgba(95, 58, 187, 1) 50%, rgba(134, 78, 197, 1) 100%);

  /* global 94%+ browsers support */
  background:linear-gradient(180deg, rgba(56, 38, 176, 1) 0%, rgba(95, 58, 187, 1) 50%, rgba(134, 78, 197, 1) 100%);
  min-height: 100vh;
}

.card {
  border-radius: 50px!important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


#home-menu,
#end-menu {
  min-height: 281px;
}

.custom-wrapper {
  min-height: calc(100vh - 56px);
}

.slide-in-elliptic-top-fwd {
	-webkit-animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-elliptic-top-fwd 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}
@keyframes slide-in-elliptic-top-fwd {
  0% {
    -webkit-transform: translateY(-600px) rotateX(-30deg) scale(0);
            transform: translateY(-600px) rotateX(-30deg) scale(0);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0) rotateX(0) scale(1);
            transform: translateY(0) rotateX(0) scale(1);
    -webkit-transform-origin: 50% 1400px;
            transform-origin: 50% 1400px;
    opacity: 1;
  }
}

#question {
  min-height: 360px;
}

.character {
  width: 200px;
  border-radius: 20px;
  filter:blur(0px);
}

#answers {
  min-height: 216px;
}

button,
.btn-custom {
  border: 1px solid rgba(56, 38, 176, 1)!important;
  border-radius: 20px!important;
}